@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);

body.vanilla{
    background-color: #ebeff7;
    font-family: Roboto;
}
button, input, select, textarea {
    font-family: Roboto;
}
.search-wrap {
    padding: 0 12px;
}
.search {
    width: 100%;
    height: 43px;
    border-radius: 2px;
    border: solid 1px #9bb3e4;
    background-color: #ffffff;
    position: relative;
}
.search-term {
    width: 100%;
    height: 43px;
    padding: 10px 50px 10px 10px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 20px;
    color: #b6b8cd;
}
button.search-button, button.search-button:active, button.search-button:hover, button.search-button:focus {
    position: absolute;
    right: 0;
    width: 43px;
    z-index: 1;
    height: 43px;
    border-radius: 2px;
    border: solid 1px #9bb3e4;
    background: url('../img/searchbutton.png') center center no-repeat #ededed;
}
span.listing-title {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.27;
    color: #102542;
}
span.results-count {
    font-size: 14px;
    line-height: 1.29;
    color: #636471;
}
.listing-title-wrap, #products-list .empty-results {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    padding: 16px 12px;
}
#products-list .products-row {
    margin: 0;
}
#products-list .product-card {
    font-family: Roboto;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    border-radius: 3px;
    background-color: #ffffff;
    margin: 16px 12px;
    padding-bottom: 15px;
    box-shadow: 2px 2px 5px #ccc;
}
#products-list .product-card .product-image {
    border-radius: 3px;
    width: 100%;
}
#products-list .product-card .product-info {
    padding: 11px;
    position: relative;

}
#products-list .product-card .product-name {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.31;
    color: #102542;
    text-transform: capitalize;
}
#products-list .product-card .ratings-and-reviews {
    overflow: hidden;
}
#products-list .product-card .star-ratings-sprite {
    background: url("../img/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 13px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 70px;
    float: left;
}
#products-list .product-card .star-ratings-sprite-rating {
     background: url("../img/star-rating-sprite.png") repeat-x;
     background-position: 0 100%;
     float: left;
     height: 13px;
     display:block;
}
#products-list .product-card .amount-of-reviews {
    color: #0c243e;
    float: left;
    margin-left: 3px;
}
#products-list .product-card .shipping-offer {
    background: url("../img/shipping.png") 0 12px no-repeat;
    padding: 12px 20px;
    font-weight: 500;
    line-height: 1.33;
    color: #68697b;
}
#products-list .product-card .product-price {
    font-size: 20px;
    font-weight: bold;
    color: #fe5f55;
}
#products-list .product-card .product-price .price-top {
    font-size: 12px;
    vertical-align: top;
    line-height: 20px;
}
#products-list .product-card .product-options {

    font-size: 16px;
    font-weight: 500;
    line-height: 1.33;
    color: #68697b;
}
#products-list .product-card .wishlist {
    background: url("../img/wishlist.png") 0 0 no-repeat;
    width: 13px;
    height: 11px;
    position: absolute;
    right: 15px;
    bottom: 15px;
}
#products-list .product-empty-card {
    margin: 16px 12px;
}

/*start facets*/
#facets .facet .bold{
    font-weight: bold;
}
#facets .facet {
    border-radius: 3px;
    box-shadow: 0 2px 8px 0 rgba(19, 33, 66, 0.07);
    background-color: #fbfcff;
    padding: 18px;
    margin-bottom: 24px;
    position: relative;
}
#facets .facet .caret{
    background: url("../img/caret.png") 0 0 no-repeat;
    width: 14px;
    height: 8px;
    position: absolute;
    right: 25px;
    top: 25px;
}
#facets .facet .info{
    background: url("../img/info.png") 0 0 no-repeat;
    width: 19px;
    height: 19px;
    position: absolute;
    right: 50%;
    top: 25px;
}
#facets .facet hr{
    margin: 0 0 20px 0;
    border-top: 1px solid #ebeff7;
}
#facets .facet .facet-title {
    font-size: 20px;
    font-weight: 500;
    color: #102542;
    padding-bottom: 10px;
}
#facets .facet .more-button {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
    background: #636471;
}
#facets .facet .more-button-text {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    text-align: center;
    color: #ffffff;
}
#price-range-form .form-fieldset label{
    font-size: 12px;
}
.col40{
    width: 40%;
    box-sizing: border-box;
    float: left;
}
#price-range-form .form-fieldset{
    overflow: hidden;
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #ebeff7;
    margin-bottom: 20px;
}
#price-range-form .priceinput{
    font-size: 16px;
    padding: 4px;
    height: 36px;
    width: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    background-color: #ebeff7;
    border: none;
    border-bottom: 2px solid #aaabbc;
}
#price-range-go{
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 rgba(19, 33, 66, 0.07);
    background: #636471;
    color: #fff;
    float: right;
    height: 36px;
}
#facets .facet-style-row {
    overflow: hidden;
}
#facets .facet-style-column {
    margin: 2%;
    width: 46%;
    float: left;
}
#facets .facet-style-img {
    position: relative;
    border-radius: 5px;
}
#facets .facet-active .facet-style-img {
    border: 1px solid #102542;
    padding: 1px;
}
#facets .facet-style-img img {
    width: 100%;
    border-radius: 5px;
}
#facets .facet-style-column-title {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    color: #102542;
    padding: 8px 0;
}
#facets .facet-body {
    position: relative;
}
#facets .facet-body .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(251, 252, 255, 0.9) 50%, #fbfcff 80%);
}
#facets .facet .facet-fields-row{
    position: relative;
    margin-bottom: 20px;
}
#facets .facet .facet-fields-column-checkbox{

}
#facets .facet .facet-fields-column-name{
    text-align: left;
    float: left;
    padding-left: 30px;
    font-size: 14px;
    line-height: 20px;
    color: #102542;
}
#facets .facet .facet-fields-column-count{
    text-align: right;
    font-size: 16px;
    line-height: 30px;
}
#facets .facet .facet-fields-column-checkbox .cbx{
    left: 0;
    bottom: 10px;
}
.cbx {
    position: absolute;
    bottom: 5%;
    left: 5%;
    border: 2px solid #e8e8eb;
    background: #e8e8eb;
    border-radius: 4px;
    transform: translate3d(0, 0, 0);
    cursor: pointer;
    transition: all 0.3s ease;
}
.cbx:hover {
    border-color: #102542;
}
.flip {
    display: block;
    transition: all 0.4s ease;
    transform-style: preserve-3d;
    position: relative;
    width: 20px;
    height: 20px;
}
.cbx-input {
    display: none;
}
.cbx-input:checked + .cbx {
    border-color: #102542;
}
.cbx-input:checked + .cbx .flip {
    transform: rotateY(180deg);
}
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.front {
    background: #fff;
    z-index: 1;
}
.back {
    transform: rotateY(180deg);
    background: #102542;
    text-align: center;
    color: #fff;
    line-height: 20px;
    box-shadow: 0 0 0 1px #102542;
}
.back svg {
    margin-top: 3px;
    fill: none;
}
.back svg path {
    stroke: #fff;
    stroke-width: 2.5;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.slider-container {
    position: relative;
    padding: 14px;
}
.slider {
    cursor: pointer;
    width: 100%;
    height: 9px;
    background-color: #fff;
    box-sizing: border-box;
}
.thumb {
    background: url("../img/slider-thumb.png") center center no-repeat #f1f3f7;
    box-shadow: 0 1px 3px 0 rgba(12, 36, 62, 0.2);
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: 0;
}
.thumb.t0 {
    left: 0;
}
.thumb.t1 {
    right: 0;
}
.track {
    height: 100%;
    background-color: #aaabbc;
}


@media (max-width: 768px){
    #products-list .product-card {
        border-radius: 5px;
        padding-bottom: 0;
    }
    #products-list .product-card .product-image {
        border-radius: 5px 0 0 5px;
        width: 40%;
    }
    #products-list .product-card .product-info {
        width: 60%;
        float: right;
        box-sizing: border-box;
    }
}
@media (max-width: 400px){
    #products-list .product-card .product-name {
        font-size: 12px;
    }
    #products-list .product-card .product-price {
        font-size: 16px;
    }
    #products-list .product-card .product-options {
        font-size: 12px;
    }
}
@media (max-width: 350px){
    #products-list .product-card .shipping-offer {
        display: none;
    }
}
